<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blocksocial</name>
	<displayName>Social block</displayName>
	<category>front_office_features</category>
	<version>1.0.0</version>
	<description>Display social icons.</description>
	<author>Soft High Tech</author>
	<website>http://softhighttech.com</website>
	<config>settings</config>
</module>