<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>advanced-search</name>
	<displayName>Advanced Search</displayName>
	<category>front_office_features</category>
	<version>1.0.0</version>
	<description>Display Advanced Search.</description>
	<author>Soft High Tech</author>
	<website>http://softhighttech.com</website>
	<config>advanced_search_settings</config>
</module>