<?xml version="1.0" encoding="UTF-8" ?>
<modules>
	<name>seo</name>
	<displayName>SEO</displayName>
	<category>administration</category>
	<version>1.0.0</version>
	<description>Search Engine Optimization.</description>
	<author>Soft High Tech</author>
	<website>http://softhighttech.com</website>
	<config>settings</config>
</modules>