<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>contact-form</name>
	<displayName>Contact Form</displayName>
	<description>Contact page form.</description>
	<category>front_office_features</category>
	<version>1.0.0</version>
	<author>Soft High Tech</author>
	<website>http://softhighttech.com</website>
</module>