<IfModule mod_rewrite.c>
RewriteEngine On

#www to non www only for online store
#RewriteBase /
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

AddHandler application/x-httpd-php56 .php

#Ignore rules if folder exists
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L]


RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# lang supplied in query string
# with language ([a-zA-Z0-9_-]+)
RewriteRule ^([a-z]{2})?$ index.php?lang=$1 [L]
RewriteRule ^([a-z]{2})/([^/\.]+)?$ index.php?lang=$1&Module=$2 [L]
RewriteRule ^([a-z]{2})/([^/\.]+)/([^/\.]+)?$ index.php?lang=$1&Module=$2&ID=$3 [L]
RewriteRule ^([a-z]{2})/([^/\.]+)/([^/\.]+)/([^/\.]+)?$ index.php?lang=$1&Module=$2&ID=$3&ID2=$4 [L]
RewriteRule ^([a-z]{2})/([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)?$ index.php?lang=$1&Module=$2&ID=$3&ID2=$4&ID3=$5 [L]
RewriteRule ^([a-z]{2})/([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)?$ index.php?lang=$1&Module=$2&ID=$3&ID2=$4&ID3=$5&ID4=$6 [L]


# original, without language
RewriteRule ^([^/\.]+)?$ index.php?Module=$1 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)?$ index.php?Module=$1&ID=$2 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)?$ index.php?Module=$1&ID=$2&ID2=$3 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)?$ index.php?Module=$1&ID=$2&ID2=$3&ID3=$4 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)?$ index.php?Module=$1&ID=$2&ID2=$3&ID3=$4&ID4=$5 [L]

</IfModule>



