/* customers autocomplete */
.autocomplete-suggestions {
	-moz-box-shadow: 0px 0px 5px 0px $gray-light;
	-webkit-box-shadow: 0px 0px 5px 0px $gray-light;
	-o-box-shadow: 0px 0px 5px 0px $gray-light;
	box-shadow: 0px 0px 5px 0px $gray-light;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=$gray-light, Direction=NaN, Strength=10);
	overflow: auto;
	background-color: white;
}

.autocomplete-suggestion {
    border-bottom: 1px solid $gray-light;
	padding: 5px 10px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	strong {
		font-weight: normal;
		color: #3399FF;
	}
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-group {
	padding: 2px 5px;
	strong:not(:last-child) {
		display: block;
		border-bottom: 1px solid #000;
	}
}