.alert:not(#message){
  position: relative;
  border: none;
  padding-left: 60px !important;
  border-radius: 0px;
  font-size: 13px;
  font-weight: normal;
  min-height: 55px;
  margin-bottom: 8px;
}

.alert:not(#message):before {
  position: absolute;
  top: 0px;
  display: block;
  height: 25px;
  width: 25px;
  left: 10px;
  font-size: 3em;
}

.alert:not(#message)>p, .alert:not(#message)>ul {
  padding: 0px;
}
.alert:not(#message)>h4{
  margin-bottom: 4px;
}

.alert:not(#message).alert-info{
  border-left: solid 3px #4ac7e0;
  background-color: #DCF4F9;
}

.alert:not(#message).alert-info:before{
  content: "\f0eb";
  font-family: FontAwesome;
  color: #4ac7e0;
}

.alert:not(#message).alert-success{
  border-left: solid 3px #92d097;
  background-color: #ddf0de;
}

.alert:not(#message).alert-success:before{
  content: "\f058";
  font-family: FontAwesome;
  color: #92d097; 
}

.alert:not(#message).alert-warning{
  border-left: solid 3px #8a6d3b;
}

.alert:not(#message).alert-warning:before{
  content: "\f071";
  font-family: FontAwesome;
}
