/* 
 * START RESPONSIVE DESIGN
 * ===============================================
 * Write all code Above this
 * @media queries
 * ===============================================
 */
/* For phones */
@media (max-width: 767px) {

}

/* For tablets */
@media (min-width: 768px) and (max-width:991px) {
  
}

/* For desktops */
@media (min-width: 992px) {
  
}

@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar {
    /*max-width: 300px;*/
    margin-right: 0;
    margin-left: 0;
  }

  /*.navbar-nav,.navbar-nav > li,.navbar-left,.navbar-right,.navbar-header {
    float: none !important;
  }*/

  /*.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
  }*/

  .navbar-right {
    margin-right: 0px;
  }

  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}


.margin0{margin: 0px !important;}
.padding0{padding: 0px !important;}
.left0{padding-left: 0px !important;}
.right0{padding-right: 0px !important;}
*{font-family: "Helvetica Neue LT Std 45 Light", Helvetica, Arial, sans-serif;}