<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>os-wishlist</name>
	<displayName>Wish list</displayName>
	<category>front_office_features</category>
	<version>1.0.0</version>
	<description>Display user Wish list.</description>
	<author>Soft High Tech</author>
	<website>http://softhighttech.com</website>
</module>