<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>categorypanel</name>
	<displayName>Category Panel</displayName>
	<category>front_office_features</category>
	<version>1.0.0</version>
	<description>Display Category Panel.</description>
	<author>Soft High Tech</author>
	<website>http://softhighttech.com</website>
	<config>categorypanel_config</config>
</module>