$orange:  #f18800 !default;
$green:  #afcb08 !default;
$red:  #e30613 !default;
$brown:  #b5aba1 !default;

$gray-dark:  #665f5d !default;
$gray-light: #d8d0ce !default;
$gray-lighter: #f7f6f5 !default;

$blue-dark:  #8daccd !default;
$blue-light: #e9eef6 !default;

$font-family: 'Helvetica', sans-serif;
$text-color: #2b2419;
$link-color: $gray-dark;
$link-hover-color: $orange;