/* footer */
footer {
  .widgets {
    .widget-title {
      color: #fdae44;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 15px;
    }
    ul li {
      margin-bottom: 10px;
      a {
        font-size: 14px;
        &:hover {
          color: #fdae44;
        }
      }
    }
    .social-icons {
      margin-bottom: 30px;
    }
    p {
      font-size: 14px;
      &.address {
        margin-bottom: 27px;
      }
    }
  }
  .footer-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
    background-color: #b5b5b5;
    p {
      padding: 25px 0px;
      font-size: 14px;
      color: #f0f0e9;
      margin-bottom: 0px;
      text-align: left;
      line-height: 0px;
    }
    }
  }
}