<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>languages</name>
	<displayName>Languages</displayName>
	<description>Manage languages.</description>
	<category>administration</category>
	<version>1.0.0</version>
	<author>Soft High Tech</author>
	<website>http://softhighttech.com</website>
	<config>settings</config>
</module>